
<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h3>Mô tả</h3>
                <p>Ra mắt năm 2021, nền tảng thương mại MobileStore được xây dựng nhằm cung cấp cho người sử dùng những trải nghiệm dễ dàng, an toàn và nhanh chóng khi mua sắm trực tuyến thông qua hệ thống hỗ trợ thanh toán và vận hành vững mạnh.</p>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>Thông tin thêm</h3>
                <p>
                    <a href="#" style="font-size : 13px;color : white;">Giới thiệu</a>
                </p>
                <p>
                    <a href="/lien-he.html"  style="font-size : 13px;color : white;">Liên hệ</a>
                </p>
            
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>Địa chỉ</h3>
                <p>Bái nội-Liệp Tuyết-Quốc Oai-TP Hà Nội</p>
                <h3>Liên hệ</h3>
                <p>0963514289</p>
                <p>080-1234-56780</p>
            </div>
            <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
                <h3>News-Letter</h3>
                <form>
                    <input type="text"><input type="submit" value="go" />
                </form>
                <h3>Kết nối với chúng tôi</h3>
                <ul>
                    <li><a href="#"><img src="~/Assets/client/images/twitter.png" title="twitter" />Twitter</a></li>
                    <li><a href="#"><img src="~/Assets/client/images/facebook.png" title="Facebook" />Facebook</a></li>
                    <li><a href="#"><img src="~/Assets/client/images/rss.png" title="Rss" />Rss</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


<style>
    .footer {
        background-color: #212934 !important
    }

    .footer p{
        color: #dcdde1
    }
    .footer h3 {
        color: #dcdde1
    }
    .footer p{
        font-size : 13px !important;
    }
    .footer h3{
        font-weight : 700;
    }

</style>